h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 36px;
	line-height: 38px;
	padding-bottom: 0px;
	font-weight: 400;
	text-transform: uppercase;
	margin: 0px;
	border-bottom: #8bc34a 6px solid;
	padding-bottom: 9px;
	display: inline-block;
}

h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	line-height: 21px;
	padding-bottom: 3px;
	font-weight: 400;
	margin: 0px;
}

h4 {
	font-family: 'Open Sans', sans-serif;
	font-size: 19px;
	line-height: 24px;
	padding-bottom: 6px;
	font-weight: 600;
	margin: 0px;
	color: #5b4c5c;
}

p, span, .node text {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	line-height: 27px;
	font-weight: 400;
	padding-bottom: 30px;
	margin: 0px;
}

.header-div{
	overflow:hidden;
	background-color: #F3F2F3;
}

.header-div h2 { 
   position: absolute; 
   top: 200px;
   padding:0px;
   border:0px;
   font-size:20px;
   font-weight:800;
	text-shadow: 2px 2px #FFFFFF;
}

.header-div .cv-btn{
	background-color:#F3F2F3;
	padding: 5px 22px!important;
	text-shadow:none;
}

@media only screen and (min-width: 993px){
	nav, nav .nav-wrapper i {
		height: 120px;
	}
}

nav ul a {
	font-size: 1.5rem;
	color: #4c404d;
	display: block;
	padding: 0 15px;
	cursor: pointer;
	line-height:120px;
	font-family: 'Open Sans', sans-serif;
	text-transform:uppercase;
	font-weight: 800;
	letter-spacing:-1px;
	transition: color 0.4s ease;
}

nav ul a:hover {
	background: #ffffff;
	color: #8bc34a;
}

nav a {
    color: #4c404d;
}

.active {
	color: #8bc34a;
}

#about, #work, #more{
	background-color:#f3f2f3;
	color: #3b323c;
}

.no-margin{
	margin:0px;
}

.no-padding{
	padding:0px;
}

.about-img{
	overflow: hidden;
	max-height: 700px;
}

.about-img img{
	width: 100%;
}

#more h3{
	padding-bottom:30px;
	font-weight: 800;
}

.full-width{
	width:100%;
}

.about-content {
	padding: 3rem 3rem!important;
}

.about-heading {
	padding-top: 1rem;
	padding-bottom: 2rem;
}

.about-content, .work-heading, .other-heading h2 {
	color: #5b4c5c;
}

.about-content h3 {
	color: #5b4c5c;
	font-weight: bold;
}

.about-content h4{
	font-weight: 300;
	font-size: 18px;
	padding-bottom: 20px;
}

.cv-btn{
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	border: 3px solid #5b4c5c;
	padding: 16px 22px;
	display: inline-block;
	color: #5b4c5c;
	transition: color 0.6s ease;
	transition: background-color 0.6s ease;
}

.cv-btn:hover{
	background-color: #5b4c5c;
	color:#FFFFFF;
}

.skills-heading, .work-heading, .projects-heading, .education-heading, .other-heading{
	padding-top:100px;
	padding-bottom:20px;
}

.work-heading, .education-heading{
	padding-bottom:0px;
}

#projects{
	background-color:#3b323c;
	color:#FFFFFF;
	padding-bottom: 50px;
}

.modal-content{
	color:#3b323c;
}

.modal-content h4{
	border-bottom: #8bc34a 2px solid;
}

.wpf-demo-6 {
	background-color: transparent;
	display: block;
	overflow: hidden;
	position: relative;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	margin:0px;
}
.wpf-demo-6 img {
	height: 100%;
	width: 100%;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.wpf-demo-6:hover .view-caption {
	opacity: 1;
	background-color: rgba(0, 0, 0, 0.8);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
}
.wpf-demo-6:hover .view-caption h4 {
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
}
.wpf-demo-6:hover .view-caption:hover a {
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
}
.wpf-demo-6 .view-caption {
	background-color: rgba(0, 0, 0, 0);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	padding: 10% 0;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	-moz-transform: scale(0.5);
	-o-transform: scale(0.5);
	-ms-transform: scale(0.5);
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
}
.wpf-demo-6 .view-caption h4 {
	color: #fff;
	font-size: 18px;
	font-weight: normal;
	margin-bottom: 15px;
	margin-top: 5px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	-moz-transform: scale(0.4);
	-o-transform: scale(0.4);
	-ms-transform: scale(0.4);
	-webkit-transform: scale(0.4);
	transform: scale(0.4);
}

a .view-caption span{
	color:#8bc34a;
}

.card-panel{
	color:white;
}

#more li {
	display: inline-block;
	text-align: center;
	background: #3b323c;
	color: #ffffff;
	line-height: 42px;
	margin: 0 6px;
	width: 190px !important;
	height: 190px !important;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	transition: color 0.6s ease;
	transition: background-color 0.6s ease;
}

#more li i {
	transition: color 0.6s ease;
	color: inherit;
	width: 190px !important;
	height: 190px !important;
}

#more li:hover{
	background: #8bc34a;
	color: #3b323c;
}

#more li i {
	line-height: 190px !important;
}

.fa-9x{
	font-size:9em;
}

footer{
	background-color:#3b323c;
	padding-top: 50px;
	padding-bottom: 50px;
}

footer ul{
	margin: 0 auto;
	text-align: center;
	list-style-type: none;
}

footer ul li{
	display: inline-block;
	text-align: center;
	background: #ffffff;
	color: #3b323c;
	line-height: 42px;
	margin: 0 6px;
	width: 51px !important;
	height: 51px !important;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	transition: color 0.6s ease;
	transition: background-color 0.6s ease;
}

footer ul li a {
	transition: color 0.6s ease;
	color: inherit;
	width: 51px !important;
	height: 51px !important;
}

footer ul li:hover{
	background: #8bc34a;
	color: #ffffff;
}

footer ul li a i {
	line-height: 52px !important;
}

footer .row{
	margin-bottom:0px;
}

.navbar-fixed{
	position: fixed;
	top: 0px;
}

/* Graph Style */
.node {
	stroke: #fff;
	stroke-width: 1.5px;
}

.link {
	stroke: #999;
	stroke-opacity: .6;
}


/* Import the Google Font 'Lato' */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

/* Container styles */
body {
	background-color: #fff;
	color: #333;
	font-family: 'Lato';
}

.chart {
	position: relative;
	display: inline-block;
	color: #999;
	font-size: 20px;
	text-align: center;
	margin:0px;
}

.chart figcaption {
	padding: 75px 25px;
	width: 190px;
	height: 100px;
	border: 20px solid rgba(59, 50, 60, 0.14);
	border-radius: 100px;
	line-height: 100px;
}

.chart img {
	position: absolute;
	max-width: 100px;
	max-height: 100px;
}
/* END Container styles */

/* Colors for the circles and positions for the graphics */
.french {
	top: 80px;
	left: 55px;
	font-size: 25px;
	color:#3b323c;
	position:absolute;
}

.french + svg .outer {
	stroke: #020C77;
}

.english {
	top: 80px;
	left: 55px;
	font-size: 25px;
	color:#3b323c;
	position:absolute;
}

.english + svg .outer {
	stroke: #e72d2e;
}

.portuguese {
	top: 80px;
	left: 27px;
	font-size: 25px;
	color:#3b323c;
	position:absolute;
}

.portuguese + svg .outer {
	stroke: #037B00;
}

.spanish {
	top: 80px;
	left: 50px;
	font-size: 25px;
	color:#3b323c;
	position:absolute;
}

.spanish + svg .outer {
	stroke: #F9EF05;
}

.chart svg {
	position: absolute;
	top: 0;
	left: 0;
}

.outer {
	fill: transparent;
	stroke: transparent;
	stroke-width: 20;
	stroke-dasharray: 534;
	transition: stroke-dashoffset 1s;
	-webkit-animation-play-state: running;
	
	/* firefox bug fix - won't rotate at 90deg angles */
	-moz-transform: rotate(-89deg) translateX(-190px);
}

.chart:hover .outer {
	stroke-dashoffset: 534 !important;
	-webkit-animation-play-state: paused;
}
/* END Circle colors and graphic positions */


/* Set the initial values for the animation */
.chart[data-percent='100'] .outer {
	stroke-dashoffset: 0;
	-webkit-animation: show100 2s;
	animation: show100 2s;
}

.chart[data-percent='80'] .outer {
	stroke-dashoffset: 107;
	-webkit-animation: show80 2s;
	animation: show80 2s;
}

.chart[data-percent='75'] .outer {
	stroke-dashoffset: 133;
	-webkit-animation: show75 2s;
	animation: show75 2s;
}

.chart[data-percent='50'] .outer {
	stroke-dashoffset: 267;
	-webkit-animation: show50 2s;
	animation: show50 2s;
}

.chart[data-percent='25'] .outer {
	stroke-dashoffset: 401;
	-webkit-animation: show25 2s;
	animation: show25 2s;
}
/* END set initial animation values */

/* Keyframes for the initial animation */
@-webkit-keyframes show100 {
	from {
		stroke-dashoffset: 537;
	}
	
	to {
		stroke-dashoffset: 0;
	}
}

@keyframes show100 {
	from {
		stroke-dashoffset: 537;
	}
	
	to {
		stroke-dashoffset: 0;
	}
}

@-webkit-keyframes show80 {
	from {
		stroke-dashoffset: 537;
	}
	
	to {
		stroke-dashoffset: 107;
	}
}

@keyframes show80 {
	from {
		stroke-dashoffset: 537;
	}
	
	to {
		stroke-dashoffset: 107;
	}
}

@-webkit-keyframes show75 {
	from {
		stroke-dashoffset: 537;
	}
	
	to {
		stroke-dashoffset: 133;
	}
}

@keyframes show75 {
	from {
		stroke-dashoffset: 537;
	}
	
	to {
		stroke-dashoffset: 133;
	}
}

@-webkit-keyframes show50 {
	from {
		stroke-dashoffset: 537;
	}
	
	to {
		stroke-dashoffset: 267;
	}
}

@keyframes show50 {
	from {
		stroke-dashoffset: 537;
	}
	
	to {
		stroke-dashoffset: 267;
	}
}

@-webkit-keyframes show25 {
	from {
		stroke-dashoffset: 537;
	}
	
	to {
		stroke-dashoffset: 401;
	}
}

@keyframes show25 {
	from {
		stroke-dashoffset: 537;
	}
	
	to {
		stroke-dashoffset: 401;
	}
}
/* END Keyframes for the initial animation */

figure {
	margin-top: 1em;
	margin-right: 20px;
	margin-bottom: 0em;
	margin-left: 20px;
}

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.cd-container {
	/* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
	width: 90%;
	max-width: 1170px;
	margin: 0 auto;
}
.cd-container::after {
	/* clearfix */
	content: '';
	display: table;
	clear: both;
}

/* -------------------------------- 

Main components 

-------------------------------- */

#cd-timeline {
	position: relative;
	padding: 2em 0;
	margin-top: 0em;
	margin-bottom: 0em;
}
#cd-timeline::before {
	/* this is the vertical line */
	content: '';
	position: absolute;
	top: 0;
	left: 43px;
	height: 100%;
	width: 4px;
	background: #8BC34A;
}
@media only screen and (min-width: 1170px) {
	#cd-timeline {
		margin-top: 0em;
		margin-bottom: 0em;
	}
	#cd-timeline::before {
		left: 50%;
		margin-left: -2px;
	}
}

.cd-timeline-block {
	position: relative;
	margin: 2em 0;
}
.cd-timeline-block:after {
	content: "";
	display: table;
	clear: both;
}
.cd-timeline-block:first-child {
	margin-top: 0;
}
.cd-timeline-block:last-child {
	margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
	.cd-timeline-block {
		margin: 4em 0;
	}
	.cd-timeline-block:first-child {
		margin-top: 0;
	}
	.cd-timeline-block:last-child {
		margin-bottom: 0;
	}
}

.cd-timeline-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.cd-timeline-img img {
	display: block;
	height: 24px;
	position: relative;
	margin:auto;
}


.big img{
	height:55px;
}

.cd-timeline-img.cd-picture, .cd-timeline-img.cd-movie {
	background: #FFFFFF;
}

@media only screen and (min-width: 1170px) {
	.cd-timeline-img {
		width: 100px;
		height: 100px;
		left: 50%;
		margin-left: -50px;
		/* Force Hardware Acceleration in WebKit */
		-webkit-transform: translateZ(0);
		-webkit-backface-visibility: hidden;
	}
	.cssanimations .cd-timeline-img.is-hidden {
		visibility: hidden;
	}
	.cssanimations .cd-timeline-img.bounce-in {
		visibility: visible;
		-webkit-animation: cd-bounce-1 0.6s;
		-moz-animation: cd-bounce-1 0.6s;
		animation: cd-bounce-1 0.6s;
	}
}

@-webkit-keyframes cd-bounce-1 {
	0% {
		opacity: 0;
		-webkit-transform: scale(0.5);
	}

	60% {
		opacity: 1;
		-webkit-transform: scale(1.2);
	}

	100% {
		-webkit-transform: scale(1);
	}
}
@-moz-keyframes cd-bounce-1 {
	0% {
		opacity: 0;
		-moz-transform: scale(0.5);
	}

	60% {
		opacity: 1;
		-moz-transform: scale(1.2);
	}

	100% {
		-moz-transform: scale(1);
	}
}
@keyframes cd-bounce-1 {
	0% {
		opacity: 0;
		-webkit-transform: scale(0.5);
		-moz-transform: scale(0.5);
		-ms-transform: scale(0.5);
		-o-transform: scale(0.5);
		transform: scale(0.5);
	}

	60% {
		opacity: 1;
		-webkit-transform: scale(1.2);
		-moz-transform: scale(1.2);
		-ms-transform: scale(1.2);
		-o-transform: scale(1.2);
		transform: scale(1.2);
	}

	100% {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}
}
.cd-timeline-content {
	position: relative;
	margin-left: 100px;
	border-radius: 0.25em;
	padding: 1em;
	background-color:#3b323c;
}
.cd-timeline-content:after {
	content: "";
	display: table;
	clear: both;
}
.cd-timeline-content p, .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
	font-size: 13px;
	font-size: 0.8125rem;
}
.cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
	display: inline-block;
}
.cd-timeline-content p {
	margin: 1em 0;
	line-height: 1.6;
}
.cd-timeline-content .cd-read-more {
	float: right;
	padding: .8em 1em;
	background: #acb7c0;
	color: white;
	border-radius: 0.25em;
}
.no-touch .cd-timeline-content .cd-read-more:hover {
	background-color: #bac4cb;
}
.cd-timeline-content .cd-date {
	float: left;
	padding: .8em 0;
	opacity: .7;
}
.cd-timeline-content::before {
	content: '';
	position: absolute;
	top: 16px;
	right: 100%;
	height: 0;
	width: 0;
	border: 7px solid transparent;
	border-right: 7px solid #3b323c;
}
@media only screen and (min-width: 768px) {
	.cd-timeline-content h2 {
		font-size: 20px;
		font-size: 1.25rem;
	}
	.cd-timeline-content p {
		font-size: 16px;
		font-size: 1rem;
	}
	.cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
		font-size: 14px;
		font-size: 0.875rem;
	}
}
@media only screen and (min-width: 1170px) {
	.cd-timeline-content {
		margin-left: 0;
		padding: 1.6em;
		width: 44%;
	}
	.cd-timeline-content::before {
		top: 40px;
		left: 100%;
		border-color: transparent;
		border-left-color: #3b323c;
	}
	.cd-timeline-content .cd-read-more {
		float: left;
	}
	.cd-timeline-content .cd-date {
		position: absolute;
		width: 100%;
		left: 128%;
		top: 25px;
		font-size: 16px;
		font-size: 1rem;
		font-weight: 800;
		color: #3b323c;
	}
	.cd-timeline-block:nth-child(even) .cd-timeline-content {
		float: right;
	}
	.cd-timeline-block:nth-child(even) .cd-timeline-content::before {
		top: 40px;
		left: auto;
		right: 100%;
		border-color: transparent;
		border-right-color: #3b323c;
	}
	.cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
		float: right;
	}
	.cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
		left: auto;
		right: 128%;
		text-align: right;
	}
	.cssanimations .cd-timeline-content.is-hidden {
		visibility: hidden;
	}
	.cssanimations .cd-timeline-content.bounce-in {
		visibility: visible;
		-webkit-animation: cd-bounce-2 0.6s;
		-moz-animation: cd-bounce-2 0.6s;
		animation: cd-bounce-2 0.6s;
	}
}

@media only screen and (min-width: 1170px) {
	/* inverse bounce effect on even content blocks */
	.cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
		-webkit-animation: cd-bounce-2-inverse 0.6s;
		-moz-animation: cd-bounce-2-inverse 0.6s;
		animation: cd-bounce-2-inverse 0.6s;
	}
}
@-webkit-keyframes cd-bounce-2 {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-100px);
	}

	60% {
		opacity: 1;
		-webkit-transform: translateX(20px);
	}

	100% {
		-webkit-transform: translateX(0);
	}
}
@-moz-keyframes cd-bounce-2 {
	0% {
		opacity: 0;
		-moz-transform: translateX(-100px);
	}

	60% {
		opacity: 1;
		-moz-transform: translateX(20px);
	}

	100% {
		-moz-transform: translateX(0);
	}
}
@keyframes cd-bounce-2 {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-100px);
		-moz-transform: translateX(-100px);
		-ms-transform: translateX(-100px);
		-o-transform: translateX(-100px);
		transform: translateX(-100px);
	}

	60% {
		opacity: 1;
		-webkit-transform: translateX(20px);
		-moz-transform: translateX(20px);
		-ms-transform: translateX(20px);
		-o-transform: translateX(20px);
		transform: translateX(20px);
	}

	100% {
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		-o-transform: translateX(0);
		transform: translateX(0);
	}
}
@-webkit-keyframes cd-bounce-2-inverse {
	0% {
		opacity: 0;
		-webkit-transform: translateX(100px);
	}

	60% {
		opacity: 1;
		-webkit-transform: translateX(-20px);
	}

	100% {
		-webkit-transform: translateX(0);
	}
}
@-moz-keyframes cd-bounce-2-inverse {
	0% {
		opacity: 0;
		-moz-transform: translateX(100px);
	}

	60% {
		opacity: 1;
		-moz-transform: translateX(-20px);
	}

	100% {
		-moz-transform: translateX(0);
	}
}
@keyframes cd-bounce-2-inverse {
	0% {
		opacity: 0;
		-webkit-transform: translateX(100px);
		-moz-transform: translateX(100px);
		-ms-transform: translateX(100px);
		-o-transform: translateX(100px);
		transform: translateX(100px);
	}

	60% {
		opacity: 1;
		-webkit-transform: translateX(-20px);
		-moz-transform: translateX(-20px);
		-ms-transform: translateX(-20px);
		-o-transform: translateX(-20px);
		transform: translateX(-20px);
	}

	100% {
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		-o-transform: translateX(0);
		transform: translateX(0);
	}
}